.dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    height: 50vh; /* Full height */
    text-align: center;
}

.dashboard-header{
    font-family: sans-serif;
}

.add-plan-btn {
    margin-top: 20px;
    padding: 16px 32px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #291a4c; /* Dark purple */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

.add-plan-btn:hover {
    background-color: #472e75; /* Darker shade on hover */
}
