* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.signInContainer {
    height: 100vh;
    background-image: url('../images/loginbg.jpg');  /* Replace with the path to your image */
    background-size: cover;
    background-position: center;
    display: flex;
    padding-right: 10%;
    justify-content: right;
    align-items: center;
    color: white;
  }

    .welcomeText {
        font-size: 5rem;
        margin-bottom: 20px;
        text-align: left;
        padding-right: 20%;
        color: #000;
        font-family: 'Blackadder ITC', cursive;
        animation: fadeInUp 1.5s ease-out forwards;
        text-shadow: 
            1px 1px 0 white, 
            -1px -1px 0 white,  
            1px -1px 0 white,  
            -1px 1px 0 white;
    }

    .welcomePart {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
        font-size: 3rem;
        gap: 20px;
        font-family: 'Courier New', Courier, monospace;
        animation: fadeInUp 1.5s ease-out 0.5s forwards; 
    }

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @font-face {
    font-family: 'Blackadder ITC';
    src: url('../Fonts/walgreensscriptfreeversion.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @media screen and (max-width: 1200px) {
    .welcomeText {
      display: none;  /* Hide welcome text on smaller screens */
    }
  }
  
  