h2 {
    margin-bottom: 30px; /* Increased margin for more space */
  }
  
.subtask-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-height: 400px; /* Adjust the maximum height as per your layout */
    overflow-y: auto; /* Enable vertical scrolling */
  }
  