.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    max-height: 420px; /* Set a fixed height for the container */
    overflow-y: auto;  /* Enable vertical scrolling if the content overflows */
}

@media (max-width: 900px) {
    .cards-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .cards-container {
        grid-template-columns: repeat(1, 1fr);
    }
}
